@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@500&display=swap');

:root
{
	--pric: #00ADB5;
	--secc:#393E46;
	--backc: #EEE;
	--light: #fff;
	--dark: #222831;
}


body{
   font-family: 'Montserrat', sans-serif;
   color: #222831;
   background-color: #eeeeee;
   margin: 0;

}

.header{
   font-family: 'Lexend Deca', sans-serif;
   background-color: var(--pric);
   text-align: center;
   margin: 0;
   padding: 0;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   margin-bottom: 2.5%;
}

.header h1{
   padding-top: 15px;
}

.grid1{
   display: grid; 
   grid-auto-rows: 1fr;
   column-gap: 9%; 
   margin-left: 1.5%; 
   margin-right: 1.5%;
   grid-template-columns: repeat(2, minmax(0, 1fr));
}

.box1 {
   background-color: #ffffff;
   margin-top: 3%;
   margin-bottom: 3%;
   grid-row: 1;
   border-radius: 15px;
   box-shadow: 2px 2px 2px 0px var(--dark);
}


.box2 {
   background-color: #ffffff;
   margin-top: 3%;
   margin-bottom: 3%;
   grid-row: 1;
   border-radius: 15px;
   box-shadow: 2px 2px 2px 0px var(--dark);
}

.box3 {
      background-color: #ffffff;
      float: left;
      margin-top: 3%;
      width: 97%;
      margin-left: 1.5%;
      margin-right: 1.5%;
      border-radius: 15px;
      box-shadow: 2px 2px 2px 0px var(--dark);
   }

.content1{
   margin-left: 2%;
   margin-bottom: 2%;
}

.content2{
   text-align: center;
}

.content3{
   margin-left: 2%;
}

button{
   background-color: var(--secc);
	text-align: center;
	width: 40%;
	min-width: 300px;
	margin-left: 30%;
	height: 100%;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	font-size: 30px;
	color: var(--light);
	margin-top: 35px;
}

.apply a :hover{
	background-color: var(--dark);
}

.end{
   background-color: var(--dark);
   float: left;
   margin-top: 3%;
   width: 100%;
   height: 100px;
}

.end a :hover{
   color: #ffffff;
}

.logo{
   max-width: fit-content;
   max-height: 50px;
   padding-top: 20px;
   margin-bottom: 20px;
   padding-left: 1.5%;
   padding-bottom: 5px;
   float: left;
}

.logos{
   float: right;
   padding-top: 30px;
   padding-right: 1.5%;
   padding-bottom: 5px;
}

@media (max-width: 500px) {
   .end{
      height: fit-content;
   }
   .logo{
      margin-left: 15%;
      width: 70%;
      max-height: 50px;
   }
   .logos{
      padding-top: 0;
      margin-left: 10%;
      width: 80%;
   }
   .grid1{
      display: grid; 
      grid-auto-rows: 1fr;
      column-gap: 9%; 
      margin-left: 10px; 
      margin-right: 10px;
      grid-template-columns: none;
   }
   .box1 {
      background-color: #ffffff;
      margin-top: 3%;
      margin-bottom: 3%;
      width: auto;
      margin-left: 10px;
      margin-right: 10px;
      grid-row: 1;
      border-radius: 15px;
      box-shadow: 2px 2px 2px 0px var(--dark);
   }
   
   .box2 {
      background-color: #ffffff;
      margin-bottom: 3%;
      grid-row: 2;
      width: auto;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 15px;
      box-shadow: 2px 2px 2px 0px var(--dark);
   }

   .box3 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
   }

   button{
      background-color: var(--secc);
      text-align: center;
      width: 80%;
      min-width: 0px;
      margin-top: 25px;
      margin-left: 10%;
      margin-right: 10%;
      height: 100%;
      padding: 5px 10px 5px 10px;
      border-radius: 10px;
      font-size: 20px;
      color: var(--light);
   }
}