@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@500&display=swap');

:root
{
	--pric: #00ADB5;
	--secc:#393E46;
	--backc: #EEE;
	--light: #fff;
	--dark: #222831;
}

body
{
	background-color: var(--backc);
}


.flex
{
	display: flex;
}

.flexmenu
{
	display: flex;
}

*
{
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.navbar
{
	background-color: var(--dark);
	color: var(--light);
	width: 100%;
	height: 75px;
	justify-content: space-between;
	position: fixed;
	z-index: 2;
}

.navbar ul
{
	list-style: none;
}

.navbar a
{
	text-decoration: none;
	color: var(--light);
	padding: 10px;
	margin: 0 5px;
	height: 100%;
}

nav .list
{
	display: flex;
	padding: 20px 50px;
	font-size: 20px;
}

.navbar .logo
{
	font-size: 30px;
	padding: 15px 70px;
}

nav a:hover,
nav a:active
{
	background-color: var(--light);
	color: var(--dark);
	border-radius: 10px;
}

#particles-js {
	background-color: #151019;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.landing 
{
	min-height: 600px;
	color: var(--light);
	text-align: center;
}

.landing .betalab
{
	padding-top: 140px;
	padding-bottom: 10px;
}

.landing .betalab img
{
	width: 500px;
}

.landing .text h3
{
	margin-top: 50px;
	font-size: 30px;
}
.landing .text h1
{
	font-family: 'Lexend Deca', sans-serif;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 85px;
}


.about 
{
	width: 50%;
	background-color: var(--pric);
	padding-bottom: 60px;
}

.about h1
{
	font-size: 50px;
	padding: 20px 30px;
}

.about p
{
	font-size: 25px;
	padding: 20px 40px;	
}


/*css for time line */

.time 
{
  background-color: var(--secc);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 50%;
}

.time h1
{
	font-family: 'Lexend Deca', sans-serif;
	color: var(--light);
	padding: 10px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.contain {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.contain::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid var(--pric);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}


.container
{
	padding: 0 20px;
	margin: 0 auto;
}

.projpage h1
{
	font-family: 'Lexend Deca', sans-serif;
	padding: 50px 1.5%;
	font-size: 50px;
}

.projpage .grid
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.projects
{
	text-align: center;
}

.card
{
	background-color: var(--pric);
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
}

.card:hover
{
	background-color: #00a1a8;
}

.card h3
{
	padding-bottom: 10px;
	font-size: 30px;
}

.card p
{
	padding-bottom: 20px;
	padding-top: 5px;
	font-size: 15px;
}

.projpage a
{
	text-decoration: none;
	color: var(--dark);
}

.idea
{
	font-size: 23px;
	margin-top: 3.2%;
}

.projpage .submitbtn
{
	width: 50%;
	background-color: var(--pric);
	border-radius: 5px;
	padding: 2.5%;
	margin: 3%;	
	font-size: 22px;
}

.projpage .submitbtn:hover
{
	background-color: #00a1a8;
}


/* Contribution page */
.contripage{
	margin-top: 50px;
	background-color: var(--pric);
	text-align: center;
	padding-bottom: 30px;
}

.contripage a
{
	text-decoration: none;
}

.contripage h2
{
	font-family: 'Lexend Deca', sans-serif;
	padding: 50px 1.5%;
	font-size: 50px;
	color: var(--light);
	text-align: left;
}

.contripage p {
	padding-left: 2%;
	padding-right: 2%;
	text-align: justify;
	font-size: 25px
}

.button {
	background-color: var(--secc);
	text-align: center;
	width: 38%;
	min-width: 300px;
	margin-top: 25px;
	margin-left: 31%;
	height: 99%;
	padding: 30px 10px 30px 10px;
	border-radius: 10px;
	font-size: 40px;
	color: var(--light);
}

.contripage a :hover{
	background-color: var(--dark);
}


/* FAQ Page */
.faqpage {
	background-color: var(--secc);
	height: fit-content;
	padding-bottom: 20px;
}

.faqpage h2{
	font-family: 'Lexend Deca', sans-serif;
	padding: 50px 1.5%;
	font-size: 50px;
	color: var(--light);
	text-align: center;
}

.faq-grid{
	background-color: var(--secc);
	display: grid;
	width: 100%;
}
.faq-card1{
	float: left;
	width: 90%;
	background-color: var(--secc);
	margin-left: 4%;
	margin-right: 3%;
	grid-row: 1;
}

.faq-card2{
	float: left;
	width: 90%;
	background-color: var(--secc);
	margin-left: 4%;
	margin-right: 3%;
	grid-row: 2;
}
.faq-card3{
	float: left;
	width: 90%;
	background-color: var(--secc);
	margin-left: 4%;
	margin-right: 3%;
	grid-row: 3;
}
.faq-q-card{
	background-color: var(--pric);
	border-radius: 15px;
	margin-bottom: 1%;
	padding-left: 10px;
	font-size: 20px;
}

.faq-a-card{
	background-color: var(--backc);
	border-radius: 15px;
	margin-bottom: 3%;
	padding-left: 10px;
	font-size: 20px;
}

.faq-q-card h3 {
	padding-top: 10px;
}


.faq-a-card h3 {
	padding-top: 10px;
}
.faq-q-card p {
	padding-bottom: 10px;
}


.faq-a-card p {
	padding-bottom: 10px;
}


/* Contact us Page */
.contactpage h2
{
	font-family: 'Lexend Deca', sans-serif;
	padding: 50px 1.5%;
	font-size: 50px;
	text-align: left;
}

.contactpage p {
	margin-top: 0;
	padding-left: 1.5%;
	padding-right: 1.5%;
	text-align: left;
	font-size: 30px;
	float: left;
	width: 50%;
}

.disclogo{
	float: right;
	background-color: var(--secc);
	padding: 15px 20px 15px 20px;
	border-radius: 10px;
	width: 20%;
	margin-right: 8%;
	box-shadow: 0 0 0 0 var(--dark);
}

.contactpage a :hover{
	background-color: var(--dark);
}

/* Footer part */
.logo{
	max-width: fit-content;
   max-height: 80px;
	width: auto;
   padding-top: 20px;
   margin-bottom: 20px;
   margin-left: 1.5%;
   padding-bottom: 5px;
   float: left;
}

.end{
   background-color: var(--dark);
   float: left;
   margin-top: 3%;
   width: 100%;
}

.logos{
   float: right;
   padding-top: 30px;
   padding-right: 1.5%;
   padding-bottom: 5px;
}



/* mobile properties */


@media(max-width: 1000px) 
{	
	
	.navbar .logo
	{
		padding-top: 13px;
		padding-left: 80px;
		margin: 0px;
	}
	

	.flex
	{
		flex-direction: column;
	}

	.landing .betalab
	{
		padding-top: 180px;
	}

	.about h1
	{
		font-family: 'Lexend Deca', sans-serif;
		font-size: 30px;
	}

	.about p
	{
		font-size: 15px;
	}

	.about
	{
		width: 100%;
	}

	.time
	{
		width: 100%;
	}

	.projpage .grid
	{
		grid-template-columns: repeat(1, 1fr);
	}	

	.card
	{
		width: 100%;
		margin-left: 0;
	}

	.container
	{
		margin: 0 10px;
		padding: 0 17px;
	}

	.projpage .submitbtn
	{
		width: 100%;
		margin: 0;
		margin-top: 40px;
		border-radius: 10px;
	}

	.landing .betalab img
	{	
		width: 300px;
	}


/* Place the timelime to the left */
  .timeline::after 
  {
    left: 31px;
  }

/* Full-width containers */
  .contain 
  {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .contain::before 
  {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after 
  {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right 
  {
    left: 0%;
  }

  /* contribution page */
  .contripage h2
  {
	font-family: 'Lexend Deca', sans-serif;
	  font-size: 35px;
	  padding: 20px;
  }
  .contripage p {
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
	font-size: 15px
}

.contripage .button
{
	margin-top: 20px;
	justify-content: center;
	font-size: 25px;
}

/* FAQ Page */
  .faq-grid{
	  display: block;
  }
  .faq-card1{
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 0%;
	margin-right: 0%;
  }
  .faq-card2{
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 0%;
	margin-right: 0%;
  }
  .faq-card3{
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 0%;
	margin-right: 0%;
  }
  .faq-q-card{
	  margin-bottom: 15px;
	  width: 100%;
  }
  .faq-a-card{
	  margin-bottom: 30px;
	  width: 100%;
  }
  .contactpage h2{
	font-family: 'Lexend Deca', sans-serif;
	  padding-top: 30px;
  }
  .end{
	  text-align: center;
  }
  .logo{
	display: block;
	width: 50%;
	height: auto;
	max-height: none;
  	margin-left: 25%;
  	margin-right: auto;
}
.logos{
	padding-top: 0;
	width: 70%;
	margin-right: 14%;
 }
}

@media(max-width: 700px){
	.logo{
		display: block;
		width: 60%;
		height: auto;
		max-height: none;
		  margin-left: 20%;
		  margin-right: auto;
	
}
.logos{
	padding-top: 0;
	font-size: 15px;

	margin-left: 10%;
	margin-right: 10%;
	float: none;
	width: 80%;
}

 .faq-q-card p {
		padding-bottom: 10px;
		font-size: 15px;
	}
	
	
	.faq-a-card p {
		padding-bottom: 10px;
		font-size: 15px;
	}
 }

@media(max-width: 650px) 
{	
	.navbar
	{
		flex-direction: column;
		height: 120px;
		justify-content: space-evenly;
	}
	
	.navbar .logo
	{
		padding-top: 10px;
		margin-top: 10px;		
		padding-left: 39%;
		padding-right: 100%;
	}

	.navbar .list
	{
		padding-left: auto;
		padding-left: 26%;
		padding-right: 100%;
		padding-top: 0%;
	}

	.navbar a
	{
		font-size: 18px;
		padding: 0 7px;
	}

	.navbar li
	{
		background-color: var(--secc);
	}

	.landing .text h3
{
	font-size: 20px;
}
.landing .text h1
{
	font-size: 75px;
}

.landing .betalab img
{
	width: 350px;
}

}


@media(max-width: 500px) 
{	
	.navbar .logo
	{
		padding-top: 10px;
		margin-top: 10px;		
		padding-left: 34.9%;
		padding-right: 100%;
	}

	.navbar .list
	{
		padding-left: auto;
		padding-left: 14%;
		padding-right: 100%;
		padding-top: 0%;
	}
	.contactpage h2
{
	font-family: 'Lexend Deca', sans-serif;
	padding: 50px 1.5%;
	font-size: 35px;
	text-align: center;
}
	.contactpage p {
		margin-top: 0;
		padding-left: 2%;
		padding-right: 2%;
		text-align: center;
		float: left;
		font-size: 20px;
		width: 100%;
	}

	.contripage .button
{
	justify-content: center;
	margin-left: 39px;
	font-size: 20px;
}

	.faqpage h2
	{
		font-family: 'Lexend Deca', sans-serif;
		padding: 15px 0;
	}
	
	.disclogo{
		float: right;
		background-color: var(--secc);
		padding: 5px 10px 5px 10px;
		border-radius: 10px;
		width: 70%;
		margin-right: 15%;
		margin-top: 5%;
		box-shadow: 0 0 0 0 var(--dark);
	}

	.logo{
		display: block;
	width: 70%;
  	margin-left: 15%;
	  height: auto;
  	margin-right: auto;
	}
	.logos{
		float: none;
		margin-left: 16%;
		padding: 0 0 0 0;
		font-size: 15px;
		width: 70%;

	 }
}


@media(max-width: 378px) {


	.navbar
	{
		justify-content: space-evenly;
	}
	

	.navbar .list
	{
		padding-left: auto;
		margin-left: -35px;	
	}
	

	.landing .text h3
{
	font-size: 20px;
}
.landing .text h1
{
	font-size: 75px;
}

.landing .betalab img
{
	width: 300px;
}

	.navbar .logo
	{
		padding-top: 10px;
		margin-top: 10px;
		margin-bottom: 0%;
		padding-left: 33%;
		text-align: center;

	}

	.navbar .list
	{
		padding-left: 18.6%;
		padding-top: 0%;
	}

}

@media(max-width: 360px) {
	.logos{
		float: none;
		margin-left: 10%;
		margin-right: 10%;
		padding: 0 0 0 0;
		font-size: 15px;
		width: 80%;
	 }
}
